body {
	background: #E5E5E5;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	height: 100vh;
}

.logo-topo {
	margin: 40px 0 0 84px;
	height: 3em;
	width: auto;
}

main {
	margin: 80px 0 40px 17%;
}

textarea {
	resize: none;
}

.input-usuario {
	display: block;
	width: 47%;
	height: 50vh;
	padding: 0.5em;
	background-color: #E5E5E5;
	border-color: #E5E5E5;
	border-radius: 1.5em;
	font-size: 2em;
	color: #0A3871;
}

.input-usuario::placeholder {
	color: #0A3871;
}

.label-do-botao {
	position: relative;
	text-align: left;
	display: block;
}

label {
	font-size: 0.7em;
	font-weight: 200;
	position: absolute;
	margin: 0.3em 0 0 0.2em;

}


.botao {
	display: inline-block;
	width: 23vw;
	padding: 1.5em;
	margin: 0 1.5em 0 0;
	border-radius: 1.5em;
	border-color: #0A3871;
}

#botaoCriptografar {
	background: #0A3871;
	color: #FFFFFF;
	transition: 0.5s;
}

#botaoCriptografar:hover {
	background: #0A2771;
	cursor: pointer;
}

#botaoCriptografar:active {
	background: #0A1671;
	box-shadow: inset 3px 3px 0 2px #050460;
	cursor: pointer;
	transition: 0s;
}

#botaoDescriptografar {
	background: #D8DFE8;
	color: #0A3871;
	transition: 0.5s;
}

#botaoDescriptografar:hover {
	background: #E5E5E5;
	cursor: pointer;
}

#botaoDescriptografar:active {
	background: white;
	box-shadow: inset 3px 3px 0 2px #E5E5E5;
	cursor: pointer;
	transition: 0s;
}

.textarea-resultado {
	position: absolute;
	width: 28vw;
	height: 90vh;
	top: calc(40px - 0.5em);
	right: calc(40px - 0.5em);
	background-color: white;
	border-color: white;
	padding: 0.5em;
	border-radius: 1.5em;
	font-size: 1.5em;
	color: #495057;
}

.elementosResultado {
	visibility: visible;
	position: absolute;
	width: 28vw;
	margin: auto 0 auto;
	top: 22vh;
	right: 40px;
}

.elementosResultado img {
	display: flex;
	justify-content: center;
	margin: 0 auto 2em auto;
	width: 20vw;
}

.elementosResultado h2 {
	text-align: center;
	line-height: 120%;
	font-size: 1.5em;
	font-weight: 700;
	color: #343A40;
}

.elementosResultado p {
	text-align: center;
	margin: 1em 2em 0 2em;
	line-height: 120%;
}

#botaoCopiar {
	visibility: hidden;
	position: absolute;
	margin-top: -4.5em;
	right: calc(40px + 1vw);
	background: white;
	color: #0A3871;
	transition: 0.5s;
}

#botaoCopiar:hover {
	background: #D8DFE8;
	cursor: pointer;
}

#botaoCopiar:active {
	background: darkgray;
	box-shadow: inset 3px 3px 0 2px #898F95;
	cursor: pointer;
	transition: 0s;
}


footer {
	padding-top: 10px;
	font-size: 0.5em;
	color: gray;
	text-align: center;
	margin-bottom: 10px;
}

/* Style para dispositivos móveis
Tablets*/

@media screen and (max-width: 600px) {
	main {
		margin: 40px 40px 40px 40px;
	}

	.input-usuario {
	display: block;
	width: calc(100% - 30px);
	height: 50vh;
	padding: 0.5em;
	}

	.botao {
	display: inline-block;
	width: calc(50%);
	padding: 1.5em;
	margin: 0;
	}

	.caixa-resultado {
		position: relative;
	}

	.textarea-resultado {
		position: static;
		width: calc(100% - 30px);
		min-height: 20vh;
		height: auto;
		margin-top: 2em;
	}

	.elementosResultado img {
		display: none;
	}
	.elementosResultado {
		visibility: visible;
		position: absolute;
		width: calc(100% - 30px);
		left: auto;
		right: auto;
		top: 3em;
		margin: 2em auto 0 0.5em;
	}

}

/* Style para dispositivos móveis
celulares*/

@media screen and (max-width: 480px) {
	main {
		margin: 40px 40px 40px 40px;
	}

	.input-usuario {
	display: block;
	width: calc(100% - 30px);
	height: 50vh;
	padding: 0.5em;
	}

	.botao {
	display: inline-block;
	width: calc(100%);
	padding: 1.5em;
	margin: 0;
	}

	#botaoDescriptografar {
		margin-top: 1em;
	}

	.caixa-resultado {
		position: relative;
	}

	.textarea-resultado {
		position: static;
		width: calc(100% - 30px);
		min-height: 20vh;
		height: auto;
		margin-top: 2em;
	}

	.elementosResultado img {
		display: none;
	}
	.elementosResultado {
		visibility: visible;
		position: absolute;
		width: calc(100% - 30px);
		left: auto;
		right: auto;
		top: 3em;
		margin: 2em auto 0 0.5em;
	}

}
